<p id="notice"><%= notice %></p>

<p>
  <strong>Code for mug:</strong>
  <%= @daily_code.code_for_mug %>
</p>

<p>
  <strong>Code for non mug:</strong>
  <%= @daily_code.code_for_non_mug %>
</p>

<%= link_to 'Edit', edit_daily_code_path(@daily_code) %> |
<%= link_to 'Back', daily_codes_path %>
