<%= simple_form_for(@checkin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :coffee_drinker %>
    <%= f.input :with_mug %>
    <%= f.input :current_score %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
